* {
  box-sizing: border-box;
}
.page-break {
  clear: both;
  page-break-after: always;
}
.line-break {
  clear: both;
}
.org-name {
  font-size: 1.3rem;
  font-family: Helvetica;
  position: absolute;
  padding: 0.1rem;
  top: -1.6rem;
  left: 0px;
  text-align: left;
  height: 1.5rem;
  overflow-x: visible;
  margin-bottom: 1rem;
  white-space: nowrap;
  z-index: 1;
  color: darkgrey;
}
.org-name.on-top {
  z-index: 2;
}
.person {
  border: 0px solid black;
  border-width: 0px 0;
  margin: 0;
  padding: 0in;
  width: 0.9in;
  position: relative;
  margin-top: 1.5rem;
  height: 1.25in;
  float: left;
  page-break-inside: avoid;
  box-sizing: border-box;
}
.person.start {
}
.person.end {
  margin-right: 1rem;
}
.person.no-calling {
  height: 0.9in;
  margin-top: 0;
}
.person.no-calling .person-name {
  top: 0.2in;
}
.person.odd {
  background-color: rgba(0, 0, 0, 0.15);
}
.person.even {
  background-color: white;
  border-top-width: 2px;
  border-bottom-width: 2px;
}
.person.even.start {
  border-left-width: 2px;
}
.person.even.end {
  border-right-width: 2px;
}
.person-image {
  height: 0.9in;
  /*width: 0.9in;*/
  background-image: url(../../greycircle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 2;
}
.calling-position {
  text-align: center;
  font-family: Helvetica;
  font-size: 10pt;
  padding: 0 0.1rem;
}
.has-other-calling {
  position: absolute;
  border: 1px solid black;
  background: black;
  width: 4px;
  height: 4px;
  border-radius: 100px;
  top: 1px;
  left: 1px;
  z-index: 3;
}
.person-name {
  position: absolute;
  bottom: 0.1in;
  left: 0;
  text-align: center;
  width: 0.9in;
  height: 0.9in;
  font-style: italic;
  padding: 0 0.1rem;
  z-index: 1;
}