* {
  box-sizing: border-box;
}

.organization {
  page-break-after: always;
  clear: both;
}

.organization:after {
  clear: both;
}
.organization:before {
  clear: both;
}

.org-name {
  font-size: 18px;
  font-family: Helvetica;
  margin-left: 0.1in;
  clear: both;
}

.sub-orgs {

}

.sub-org {
  border: 1px solid lightgrey;
  float: left;
  margin: 0.1in;
  padding: 0.05in 0;
  page-break-inside: avoid;
}

.w2 {
  width: 180px;
}
.w3 {
  width: 270px;
}
.w4 {
  width: 360px;
}
.w5 {
  width: 450px;
}

.sub-org-name {
  text-align: center;
  padding-bottom: 0.05in;
}

.calling {
  width: 90px;
  height: 140px;
  position: relative;
  float: left;
}

.person-image {
  height: 90px;
  width: 90px;
  position: relative;
  z-index: 3;
  background-image: url(../../greycircle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.has-other-calling {
  position: absolute;
  border: 1px solid black;
  background: white;
  width: 6px;
  height: 6px;
  border-radius: 100px;
  top: 2px;
  left: 2px;
  z-index: 3;
}
.person-name {
  width: 90px;
  text-align: center;
  font-style: italic;
  padding: 0 0.1rem;
  z-index: 2;
  line-height: 90%;
}

.calling-position {
  width: 90px;
  text-align: center;
  font-family: Helvetica;
  font-size: 10pt;
  padding: 0 0.1rem;
}

@media print {
  .organization {
    page-break-after: always;
  }
}