<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link type="text/css" href="../../style.css" rel="stylesheet" />
</head>
<body>

{% for org_name, suborgs in orgs.items() %}
<div class="organization">
  <div class="org-name">{{ org_name|abbr }}</div>
  <div class="sub-orgs">
  {% for sub_name, callings in suborgs.items() %}
    <div class="sub-org">
      <div class="sub-org-name">{{ sub_name|abbr }}</div>
      <div class="callings sw{{ math.ceil(callings|length/2)|int }}">
        {% for calling in callings %}
        <div class="calling">
          <div class="person-image" style="background-image: url(../photos/solo-{{ calling.id }}-large.jpg);"></div>
          <div class="person-name">{{ calling.spokenName }}</div>
          <div class="calling-position">{{ calling.position|abbr }}</div>
          {% if calling_counts[calling.id] > 1 %}
          <div class="has-other-calling"></div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endfor %}

<div class="organization">
  <div class="org-name">No calling</div>
  <div class="sub-orgs">
    <div class="sub-org">
      <div class="callings">
        {% for calling in no_calling %}
        <div class="calling">
          <div class="person-image" style="background-image: url(../photos/solo-{{ calling.id }}-large.jpg);"></div>
          <div class="person-name">{{ calling.spokenName }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

</body>
</html>