<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link type="text/css" href="../../style.css" rel="stylesheet" />
</head>
<body>

<div class="organizations">
  {% set last_org = '' %}
  {% set odd_even_cycler = cycler('odd', 'even') %}
  {% set odd_even = 'odd' %}

  {% for org in organizations %}
    {% for calling in org.callings %}
      {% set new_org = (last_org != org.subtype) %}
      {% set last_org = org.subtype %}

      {% if new_org %}
        {% set odd_even = odd_even_cycler.next() %}
      {% endif %}
      {% if org.subtype in break_before and new_org %}
        <div class="page-break"></div>
      {% elif org.subtype in linebreak_before and new_org %}
        <div class="line-break"></div>
      {% endif %}
      <div class="person {% if new_org %}start{% endif %}">
        <div class="org-name {{ odd_even }} {% if new_org %}on-top{% endif %}">
        {% if new_org %}
          {{ org.subtype|abbr }}
        {% endif %}
        </div>
        
        <div class="person-image" style="background-image: url(../photos/solo-{{ calling.id }}-large.jpg);"></div>
        <div class="calling-position">
          {{ calling.position|abbr }}
        </div>
        <div class="person-name">
          {{ calling.spokenName }}
        </div>
        {% if calling_counts[calling.id] > 1 %}
        <div class="has-other-calling"></div>
        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}

  {% set odd_even = odd_even_cycler.next() %}
  <div class="page-break"></div>

  {% for member in no_calling %}
    <div class="person {% if loop.first %}start{% endif %} no-calling">
      <div class="org-name {{ odd_even }} {% if loop.first %}on-top{% endif %}">{% if loop.first %}No calling{% endif %}
      </div>
      <div class="person-image" style="background-image: url(../photos/solo-{{ member.id }}-large.jpg);"></div>
      <div class="person-name">
        {{ member.spokenName }}
      </div>
    </div>
  {% endfor %}
  </div>


</div>

</body>
</html>